
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1
{
    color:#28aaee;
    text-align: center;
}

header
{
    background-color: #ffffff;
    font-weight: 600;
    margin-top: 50px; /* Prevents Overlay of fixed email link bar on the other header elements */
}

body
{
   background-color:#303030;
   font-family: liberation-sans, sans-serif; /* Sans serif fonts */
   margin: 0;
   padding: 0;
}

/* This is the email bar element's style, it should stay on the top of the screen */
#email_bar{
    color: #ffffff; 
    background-color: #303030;
    position:fixed; /* Stays on the top of the screen even when scrolled down */
    top:0; /* The very top of the screen */
    width: 100%; /* Stretch it all the way across the screen */
    padding: 15px;
    z-index: 1;
}

#email_icon{
   height: 12px;
   width:auto;
}

.email_link
{
    color: #ffffff; 
    background-color: #303030;
    text-decoration: none;
 }

 /* Highlight the email link in the accentuated blue color #28aaee */
 .email_link:hover
 {
    color: #28aaee; 
    background-color: #303030;
 }

 /* Contains the links to the other pages, should be all the way on the right side of the screen */
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999997;  
    background-color: #ffffff;
    height:3rem;
 }
 
 .nav_bar_left {
  font-size: 1.75rem;
  margin: .5rem;
  color:#28aaee
 }

 #creative_dev {
  color:#999997;
  font-size: 1.25rem;
 }

 .nav_bar_right ul {
  margin:0.5rem;
  padding:0;
  display:flex;
  border: none;
}

.nav_bar_right li {
  list-style: none;
  border-left:2px solid #28aaee;
  line-height: 1px;
}

.nav_bar_right .last_link {
  border-right: 2px solid #28aaee;
}

.nav_bar_right .active_page a{
  color:#28aaee;
  font-weight: 750;
}

.nav_bar_right li a {
  text-decoration: none;
  color:#999997;
  padding:1rem;
  display: block;
  font-size: 1.25rem;
}

.nav_bar_right li a:hover {
  color:#28aaee;
  padding-top: 0.8rem; /* Make the links "hop" up a little bit */
}

.toggle_menu {
  position:absolute; /* Force to right side of screen */
  top: 4rem;
  right: 0.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 20px;
}

.toggle_menu .line {
  height: 3px;
  width: 100%;
  background-color:#999997;
  border-radius: 10px;
}

.toggle_menu:hover .line {
  height: 3px;
  width: 100%;
  background-color:#28aaee;
  border-radius: 10px;
}

#particles-js {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:115%;
	background:#303030;
  z-index: -10;
}

/* For the hamburger menu to appear when the screen is too small to display all the links on the navbar */
@media (max-width: 1050px) {
  .toggle_menu {
    display: flex;
  }

  .nav_bar_right{
    display:none;
    width: 100%;
  }

  .nav_bar_right ul {
    flex-direction: column;
    width: 25%;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    background-color: #ffffff;
    z-index: 0;
    position:relative;
  }

  .nav_bar_right li {
    text-align: center;
    border:none;
    line-height: 15px;
  }

  .nav_bar_right li a:hover {
    background-color:#ffffff;
    color:#28aaee;
    border: 3px solid #28aaee;
    font-weight: 600;
  }

  .nav_bar_right .last_link {
    border:none;
  }

  .nav_bar_right.active {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}

 /* This is the "Jonathan Cavaliere | Creative Dev. |" Text on the left side of the navbar */
 #nav_title_left{
   float: left; 
   color: #28aaee; 
   font-size: 28px; 
   background-color:#ffffff;
   font-weight: 700;
 }

 /* This is the "Creative Dev" span, so that we can vary the color, weight, and font-size of that portion */
 #nav_title_gray{
   color:#999997;
   font-size: 24px; 
   background-color:#ffffff;
   font-weight: 500;
 }

 /* We want the list to display all on one line for the top right navigation menu */
 .nav_options_right{
   display:flex;
   margin:0px;
   padding:0px;
 }

 /* These are the individual list items that compose the links for the top right navigation menu */
 .nav_options_right li{
   display:inline;
   padding: 1px 15px;
   border-right: 1px solid #bbb; /* Vertical line delination between links */
 }
 
  /* The last list item in the top right nav menu shouldn't have a vertical line*/
 .nav_option_last{
   display:inline;
   padding: 1px 20px;
   border-right: none;
 }

 /* The style for each link in the top right navigation menu */
 .nav_bar_link
 {
    color:#999997;
    font-size: 26px; 
    text-decoration: none; /* No underline */
 }

 /* The style for the currently active link in the top right navigation menu */
 .nav_bar_link_selected
 {
    color:#28aaee;
    font-size: 28px; 
    text-decoration:underline; /* Is underlined */
 }

 /* When a link is hovered on the top right navbar, increase font size and change color */
 /* TODO: It seems odd that every option shifts when one option is hovered due to the increase
          in the font size, figure out how to make the other ones stay put so the only 
          movement is in the link being hovered over
 */
 .nav_bar_link:hover
 {
    color:#28aaee;
    font-size: 28px; 
 }

 /* The banner image style. It's centered and takes up ALMOST the entire width of the screen */
 #banner_img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width:99%;
 }

 /* The list of links for the center nav menu */
 .nav_center{
  text-align: center;
 }

 /* The list element for each link in center nav menu*/
 .nav_center li{
   margin: 30px 0px; /* Space them out */
   text-align: center;
   text-decoration: none;
   list-style: none; /* No Bullet points */
 }

 /* Place open comment symbols before each list element for center nav menu */
 .nav_center li:before {
   content: "/*";
   font-size: 26px;
   color:#28aaee;
   padding-right: 10px;
 }

  /* Place close comment symbols after each list element for center nav menu */
 .nav_center li::after{
   content: "*/";
   font-size: 26px;
   color:#28aaee;
   padding-left: 10px;
 }

 /* Each list element link in the center nav menu shouldn't be underlined */
 .nav_center li a{
   text-decoration: none;
 }

 /* Each link in the center nav menu style */
 .nav_option_center{
   color:#999997; 
   font-size: 40px;
 }

 /* Each link in the center nav menu style when hovered  */
 .nav_option_center:hover{
   color:#ffffff; /* Change color to white */
   font-size: 42px; /* Increase font size */
 }

 /* This is for the call to action link in the center nav menu, it's EMPHASIZED in bright blue */
 .nav_option_center_emphasized{
   color:#28aaee;
   font-size: 40px;
 }

 /* This is for the call to action link in center nav menu when hovered */
 .nav_option_center_emphasized:hover{
   font-size: 42px;           /* Increase font size */
   text-decoration:underline; /* Underline link, but don't change the color */
 }

